body {
    background: #6F6861;
    color: #FFB579;

    margin: 0;
    text-align: center;

    font-family: monospace;
    font-size: 18;
}
h1,h2,h3,th {
    color:#FFB579;
}
p,td{
    color:white
}
b {
    color: #FFB579;
}
table {
    white-space: nowrap;
    table-layout: auto;

    display:flex;
    align-items: center;
    justify-content: center;

    text-align: left;
    margin-left: auto;
    margin-right: auto;

    font-size: 18;
}
td {
    padding-left: 50px;
    padding-right: 50px;
}
th {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

a:link,a:visited{
    color:#FFB579;
    text-decoration: none;

    transition: color 0.2s ease;
}
a:hover{
    color:#C1957F;
}
a:active{
    color:rgb(63, 2, 2);
}


#introduction {
    text-align: left;
    align-items: center;
    margin: 10%;

    font-size: larger;
}

.main-section {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3cm;
    margin-top: 3cm;
}

.gallery-flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-screenshot {
    display: float;
    margin: 1%;
}

.gallery-grid{
    display:grid;
    grid-template-columns: auto auto;
}

.gallery-grid-element{

}

.introduction-text {
    width: 90%;
    display: flex;
    align-items: left;
}

.wide-banner {
    text-align: center;
    margin: 0px;
}

.banner {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  flex: 0 0 calc(33% - 40px);
}

.banner-image {
    border: 5px solid transparent;
    border-radius: 25px;
    opacity: 100%;

    transition: opacity 0.5s ease, border-bottom 0.5s ease, transform 0.5s ease;
}

.banner-image:hover {
    opacity: 70%;
    border-bottom: 5px solid #FFB579;
    transform:scale(1.01);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 7.5%;
    width: 100%;
    background-color: #7B5D4D;
    color: #FFB579;
}

.hyper-link{
    text-decoration: underline;
}

.footer-link {
    display: inline;
    margin-right: 1cm;
}

.icon {
    width: 20px;
}

.code-bg{
    background-color: #1E1E1E;
    white-space: pre-wrap;
    font-size: 75%;
}

.code-keyword{
    color:#569CD6;
}

.code-member{
    color:#DCDCDC;
}

.code-local{
    color:#9CDCFE;
}

.code-method{
    color:#DCDCAA;
}
.code-struct{
    color:#86C691;
}
.code-class{
    color:#4EC9B0;
}
.code-number{
    color:#B5CEA8;
}
.code-interface{
    color:#B4D794;
}

.code-control{
    color:#D8A0DF;
}

.code-operator{
    color:#B4B4B4;
}

.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   /*z-index: 1; Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #7B5D4D;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  
  display: block;
}

.sidemain{
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}